<div class="mx-auto px-4 lg:px-12 m-4">
    <div class="bg-white relative shadow-md sm:rounded-lg overflow-hidden">
        <div class="overflow-x-auto">
            <table class="w-full text-sm text-left text-gray-500">
                <thead class="text-xs text-gray-700 uppercase bg-gray-50">
                    <tr>
                        <th scope="col" class="px-4 py-3">Tax name</th>
                        <th scope="col" class="px-4 py-3">Type</th>
                        <th scope="col" class="px-4 py-3">Value</th>
                        <th scope="col" class="px-4 py-3">% | € | $</th>
                        <!-- <th scope="col" class="px-4 py-3">
                            <span class="sr-only">Actions</span>
                        </th> -->
                    </tr>
                </thead>
                @if (taxes$ | async; as tax) {
                    @for(tax of taxes$ | async ; track tax.id) 
                    {
                    <tbody>
                        <tr class="border-b cursor-pointer hover:bg-gray-100" 
                        (click)="goToTaxDetails(tax.id)">
                            <th scope="row" class="px-4 py-3 font-medium text-gray-900 whitespace-nowrap">
                                {{ tax.name }}</th>
                            <td class="px-4 py-3">{{ tax.type }}</td>
                            <td class="px-4 py-3">{{ tax.value }}</td>
                            <td class="px-4 py-3">{{ tax.isPercentage ? '%' : '€' }}</td>
                            <!-- <td class="px-4 py-3 flex items-center justify-end">
                                <button id="benq-ex2710q-dropdown-button" data-dropdown-toggle="benq-ex2710q-dropdown" class="inline-flex items-center p-0.5 text-sm font-medium text-center text-gray-500 hover:text-gray-800 rounded-lg focus:outline-none" type="button">
                                    <svg class="w-5 h-5" aria-hidden="true" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M6 10a2 2 0 11-4 0 2 2 0 014 0zM12 10a2 2 0 11-4 0 2 2 0 014 0zM16 12a2 2 0 100-4 2 2 0 000 4z" />
                                    </svg>
                                </button>
                                <div id="benq-ex2710q-dropdown" class="hidden z-10 w-44 bg-white rounded divide-y divide-gray-100 shadow">
                                    <ul class="py-1 text-sm text-gray-700" aria-labelledby="benq-ex2710q-dropdown-button">
                                        <li>
                                            <a href="#" class="block py-2 px-4 hover:bg-gray-100">Show</a>
                                        </li>
                                        <li>
                                            <a href="#" class="block py-2 px-4 hover:bg-gray-100">Edit</a>
                                        </li>
                                    </ul>
                                    <div class="py-1">
                                        <a href="#" class="block py-2 px-4 text-sm text-gray-700 hover:bg-gray-100">Delete</a>
                                    </div>
                                </div>
                            </td> -->
                        </tr>
                    </tbody>
                    }
                } @else {
                    <tr class="border-b">
                        <td class="px-4 py-3">No taxes created yet.</td>
                    </tr>
                }
            </table>
        </div>
    </div>
</div>


 @if(isModalOpen){
<div class="fixed inset-0 z-50 flex items-center justify-center overflow-y-auto overflow-x-hidden bg-black bg-opacity-50">
  <div class="relative w-full max-w-2xl max-h-full p-4">
    <div class="relative bg-white rounded-lg shadow">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
}