<div class="h-[65rem] w-full overflow-y-auto p-4 mt-2">
    <div class="flex flex-wrap gap-4">
        @if(items$ | async; as item) {
            @for(item of items$ | async ; track item.id) 
            {
            <div class="w-full max-w-sm bg-white border border-gray-200 rounded-lg shadow"
            (click)="goToItemDetails(item.id)">
                @if(item.image){
                    <img class="rounded-t-lg" [src]="'data:image/png;base64,' + item.image" alt="product image" />
                }
                <div class="px-5 pb-5">
                    <h5 class="pt-4 text-xl font-semibold tracking-tight text-gray-900">{{ item.name }}</h5>
                    <div class="flex items-center mt-2.5 mb-5">
                        <div class="flex items-center space-x-1 rtl:space-x-reverse">{{ item.stock }} units</div>
                    </div>
                    <div class="flex items-center justify-between">
                        <span class="text-3xl font-bold text-gray-900">{{ item.price }}€</span>
                        <a class="text-white bg-cyan-400 hover:bg-cyan-500 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center cursor-pointer"
                        (click)="$event.stopPropagation(); editItem(item.id)"
                        >Edit</a>
                    </div>
                </div>
            </div>
            }}
    </div>
</div>

@if(isModalOpen){
    <div class="fixed inset-0 z-50 flex items-center justify-center overflow-y-auto overflow-x-hidden bg-black bg-opacity-50">
      <div class="relative w-full max-w-2xl max-h-full p-4">
        <div class="relative bg-white rounded-lg shadow">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
}


<!-- <div class="mx-auto px-4 lg:px-12 m-4">
    <div class="bg-white relative shadow-md sm:rounded-lg overflow-hidden">
        <div class="overflow-x-auto">
            <table class="w-full text-sm text-left text-gray-500">
                <thead class="text-xs text-gray-700 uppercase bg-gray-50">
                    <tr>
                        <th scope="col" class="px-4 py-3">Name</th>
                        <th scope="col" class="px-4 py-3">Price</th>
                        <th scope="col" class="px-4 py-3">Stock</th>
                        <th scope="col" class="px-4 py-3">Actions</th>
                    </tr>
                </thead>
                @if(items$ | async; as item) {
                    @for(item of items$ | async ; track item.id) 
                    {
                    <tbody>
                        <tr class="border-b dark:border-gray-700 cursor-pointer hover:bg-gray-100" 
                        (click)="goToItemDetails(item.id)">
                            <th scope="row" class="px-4 py-3 font-medium text-gray-900 whitespace-nowrap">
                                {{ item.name }}</th>
                            <td class="px-4 py-3">{{ item.price }}</td>
                            <td class="px-4 py-3">{{ item.stock }}</td>
                            <td class="font-medium text-cyan-500 px-4 py-3 hover:underline cursor-pointer"
                            (click)="$event.stopPropagation(); editItem(item.id)"
                            >
                                Edit
                            </td>
                        </tr>
                    </tbody>
                    }
                } @else {
                    <tr class="border-b">
                        <td class="px-4 py-3">No items created yet.</td>
                    </tr>
                }
            </table>
        </div>
    </div>
</div> -->