<div class="mx-auto px-4 lg:px-12 m-4">
    <div class="bg-white relative shadow-md sm:rounded-lg overflow-hidden p-4">

        <form [formGroup]="taxForm" (ngSubmit)="onSubmit()">

        <label for="taxName">Tax name</label>
        <input 
            type="text" 
            id="taxName" 
            name="name" 
            formControlName="name"
        >

        <label for="taxType">Type</label>
        <select id="taxType" name="type" formControlName="type">
            <option [value]="1">VAT</option>
            <option [value]="2">Food Tax</option>
            <option [value]="3">Alcohol Tax</option>
        </select>
    
        <label for="taxValue">Value</label>
        <input 
            type="number" 
            id="taxValue" 
            name="value" 
            formControlName="value"
        >

        <label for="isPercentage">Is this value percentage?</label>
        <input 
            type="checkbox" 
            id="isPercentage" 
            name="isPercentage" 
            formControlName="isPercentage"
        >
        
        <button type="submit" class=" mt-4 text-white bg-cyan-400 hover:bg-cyan-500 focus:ring-4 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center">
            + Add</button>
        </form>
    </div>
</div>