<div class="mx-auto px-4 lg:px-12 m-4">
    <div class="bg-white relative shadow-md sm:rounded-lg overflow-hidden">
        <div class="overflow-x-auto">
            <table class="w-full text-sm text-left text-gray-500">
                <thead class="text-xs text-gray-700 uppercase bg-gray-50">
                    <tr>
                        <th scope="col" class="px-4 py-3">Name</th>
                        <th scope="col" class="px-4 py-3">Price</th>
                        <th scope="col" class="px-4 py-3">Duration</th>
                        <th scope="col" class="px-4 py-3">
                            <span class="sr-only">Actions</span>
                        </th>
                    </tr>
                </thead>
                @for(service of services$ | async ; track service.id) 
                {
                <tbody>
                    <tr class="border-b dark:border-gray-700 cursor-pointer hover:bg-gray-100" 
                    (click)="goToServiceDetails(service.id)">
                        <th scope="row" class="px-4 py-3 font-medium text-gray-900 whitespace-nowrap">
                            {{ service.name }}</th>
                        <td class="px-4 py-3">{{ service.price }}</td>
                        <td class="px-4 py-3">{{ service.duration }}</td>
                    </tr>
                </tbody>
            }
            </table>
        </div>
    </div>
</div>

@if(isModalOpen){
    <div class="fixed inset-0 z-50 flex items-center justify-center overflow-y-auto overflow-x-hidden bg-black bg-opacity-50">
      <div class="relative w-full max-w-2xl max-h-full p-4">
        <div class="relative bg-white rounded-lg shadow">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
}