<div class="bg-white relative shadow-md sm:rounded-lg overflow-hidden">
  <div class="overflow-x-auto m-6">
    <h2 class="text-2xl ">Edit User Information</h2>

    <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
      <div class="mt-4">
        <label for="name">Name </label>
        <input
          type="text"
          id="name"
          formControlName="name"
          class="form-input"
        />
      </div>

      <div class="mt-4">
        <label for="surname">Surname</label>
        <input
          type="text"
          id="surname"
          formControlName="surname"
          class="form-input"
        />
      </div>
      <div class="mt-4">
          <label for="username">Username</label>
          <input
            type="text"
            id="username"
            formControlName="username"
            class="form-input"
          />
      </div>
      <div class="mt-4">
        <label for="passwordHash">Password</label>
        <input
          type="password"
          id="passwordHash"
          formControlName="passwordHash"
          class="form-input"
        />
      </div>

      <div class="mt-4">
        <label for="phoneNumber">Phone Number</label>
        <input
          type="tel"
          id="phoneNumber"
          formControlName="phoneNumber"
          class="form-input"
        />
      </div>

      <div class="mt-4">
        <label for="email">Email</label>
        <input
          type="email"
          id="email"
          formControlName="email"
          class="form-input"
        />
      </div>
      <label for="role">Role</label>
      <select id="role" formControlName="role">
        <option value="SuperAdmin">Super Admin</option>
        <option value="BusinessOwner">Business Owner</option>
        <option value="Employee">Employee</option>
      </select>
      
      <button
        type="submit"
        class="mt-6 text-white bg-cyan-400 hover:bg-cyan-500 font-medium rounded-lg text-sm px-5 py-2.5"
      >
        Save Changes
      </button>

      <button
      type="button"
      class="mt-6 ml-4 text-gray-600 hover:text-gray-900"
      (click)="goBack()"
      >
        Cancel
      </button>
    
    </form>
  <div>
</div>
