<div class="bg-white relative shadow-md sm:rounded-lg overflow-hidden">
    <div class="overflow-x-auto m-6">
      <h2 class="text-2xl ">Edit Service Charge Information</h2>

      <form [formGroup]="serviceChargeForm" (ngSubmit)="onSubmit()">
        <div class="mt-4">
          <label for="name">Name</label>
          <input
            type="text"
            id="name"
            formControlName="name"
            class="form-input"
          />
        </div>

        <div class="mt-4">
            <label for="description">Description</label>
            <input
              type="text"
              id="description"
              formControlName="description"
              class="form-input"
            />
          </div>

        <div class="mt-4">
          <label for="value">Value</label>
          <input
            type="number"
            id="value"
            formControlName="value"
            class="form-input"
          />
        </div>

        <div class="flex items-start mt-6">
            <div class="flex items-center h-5">
                <input 
                  id="isPercentage"
                  type="checkbox" 
                  formControlName="isPercentage"
                  name="isPercentage"
                  class="w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-blue-300"
                />
            </div>
            <label for="isPercentage" class="ms-2 text-sm font-medium text-gray-900"
            >Is Percentage?</label>
        </div>
        
        <button
          type="submit"
          class="mt-6 text-white bg-cyan-400 hover:bg-cyan-500 font-medium rounded-lg text-sm px-5 py-2.5"
        >
          Save Changes
        </button>

        <button
        type="button"
        class="mt-6 ml-4 text-gray-600 hover:text-gray-900"
        (click)="goBack()"
        >
          Cancel
        </button>
      
      </form>
  </div>
</div>