<div class="mx-auto px-4 lg:px-12 m-4">
	<div class="bg-white relative shadow-md sm:rounded-lg overflow-hidden p-4">

		<form [formGroup]="orderForm" (ngSubmit)="onSubmit()">

			<div class="flex items-start mt-6">
				<label for="isExistingCustomer" class="text-sm font-medium text-gray-900 mr-4">Existing customer?</label>
				<div class="flex items-center h-5">
					<input id="isExistingCustomer" type="checkbox" formControlName="isExistingCustomer" name="isExistingCustomer" class="w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-blue-300" 
					(change)="toggleExistingCustomer()"/>
				</div>
			</div>

			<div *ngIf="isExistingCustomer">

				<label for="customer">Customer</label>
				<select id="customer" name="customerId" formControlName="customerId">
					<option *ngFor="let customer of customers" [value]="customer.id">
						{{ customer.email }}
					</option>
				</select>

			</div>

			<div *ngIf="!isExistingCustomer">

				<label for="customerName">Customer Name</label>
				<input type="text" id="customerName" name="customerName" formControlName="customerName">

				<label for="customerEmail">Customer Email</label>
				<input type="text" id="customerEmail" name="customerEmail" formControlName="customerEmail">

				<label for="customerPhoneNumber">Customer Phone Number</label>
				<input type="text" id="customerPhoneNumber" name="customerPhoneNumber" formControlName="customerPhoneNumber">

			</div>

			<label for="serviceCharge">Service Charge</label>
			<select id="serviceCharge" name="serviceChargeId" formControlName="serviceChargeId">
				<option *ngFor="let serviceCharge of serviceCharges" [value]="serviceCharge.id">
					{{ serviceCharge.name }}
				</option>
			</select>


			<div class="mt-4">
				<button type="button"
					class="text-white bg-green-500 hover:bg-green-600 focus:ring-4 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center"
					(click)="openAddItemsModal()">
					Add Items
				</button>
			</div>
			<p *ngIf="addedOrderItems.length !== 0" class="text-gray-600 mt-2">Items added</p>



			<div class="mt-4">
				<button type="button"
					class="text-white bg-blue-500 hover:bg-blue-600 focus:ring-4 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center"
					(click)="openAddReservationModal()">
					Add Reservation
				</button>
			</div>
			<p *ngIf="addedReservation != undefined" class="text-gray-600 mt-2">Reservation added</p>


			<button type="submit"
				class=" mt-4 text-white bg-cyan-400 hover:bg-cyan-500 focus:ring-4 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center">
				+ Add
			</button>
		</form>

	</div>

</div>

<div *ngIf="isItemsModalOpen"
	class="fixed inset-0 z-50 flex items-center justify-center overflow-y-auto overflow-x-hidden bg-black bg-opacity-50">
	<div class="relative w-full max-w-2xl max-h-full p-4">
		<div class="relative bg-white rounded-lg shadow">
			<app-add-items-to-order (orderItemsAdded)="onOrderItemsAdded($event)"></app-add-items-to-order>
		</div>
	</div>
</div>

<div *ngIf="isReservationModalOpen"
	class="fixed inset-0 z-50 flex items-center justify-center overflow-y-auto overflow-x-hidden bg-black bg-opacity-50">
	<div class="relative w-full max-w-2xl max-h-full p-4">
		<div class="relative bg-white rounded-lg shadow">
			<app-add-reservation-to-order (reservationAdded)="onReservationAdded($event)"></app-add-reservation-to-order>
		</div>
	</div>
</div>