<div class="mx-auto px-4 lg:px-12 m-4">
    <div class="bg-white relative shadow-md sm:rounded-lg overflow-hidden">
        <div class="overflow-x-auto">
            <table class="w-full text-sm text-left text-gray-500">
                <thead class="text-xs text-gray-700 uppercase bg-gray-50">
                    <tr>
                        <th scope="col" class="px-4 py-3">Name</th>
                        <th scope="col" class="px-4 py-3">Description</th>
                        <th scope="col" class="px-4 py-3">Actions</th>
                    </tr>
                </thead>
                @if(itemGroups$ | async; as itemGroup) {
                    @for(itemGroup of itemGroups$ | async ; track itemGroup.id) 
                    {
                    <tbody>
                        <tr class="border-b cursor-pointer hover:bg-gray-100" 
                        (click)="goToItemGroupDetails(itemGroup.id)">
                            <th scope="row" class="px-4 py-3 font-medium text-gray-900 whitespace-nowrap">
                                {{ itemGroup.name }}</th>
                            <td class="px-4 py-3">{{ itemGroup.description }}</td>
                            <td class="font-medium text-cyan-500 px-4 py-3 hover:underline cursor-pointer"
                            (click)="$event.stopPropagation(); editItemGroup(itemGroup.id)"
                            >
                                Edit
                            </td>
                        </tr>
                    </tbody>
                    }
                } @else {
                    <tr class="border-b">
                        <td class="px-4 py-3">No item groups created yet.</td>
                    </tr>
                }
            </table>
        </div>
    </div>
</div>


 @if(isModalOpen){
<div class="fixed inset-0 z-50 flex items-center justify-center overflow-y-auto overflow-x-hidden bg-black bg-opacity-50">
  <div class="relative w-full max-w-2xl max-h-full p-4">
    <div class="relative bg-white rounded-lg shadow">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
}