<div class="mx-auto px-4 lg:px-12 m-4">
    <div class="bg-white relative shadow-md sm:rounded-lg overflow-hidden">
        <div class="overflow-x-auto">
            <table class="w-full text-sm text-left text-gray-500">
                <thead class="text-xs text-gray-700 uppercase bg-gray-50">
                    <tr>
                        <th scope="col">Discount name</th>
                        <th scope="col">Value</th>
                        <th scope="col">Amount available</th>
                        <th scope="col">Valid from - to</th>
                    </tr>
                </thead>
                @if (discounts$ | async; as discounts) {
                    @if (discounts.length > 0) {
                        @for(discount of discounts$ | async ; track discount.id)
                        {
                        <tbody>
                            <tr class="border-b cursor-pointer hover:bg-gray-100"
                            (click)="goToDiscountDetails(discount.id)">
                                <th scope="row" class="px-4 py-3 font-medium text-gray-900 whitespace-nowrap">{{
                                    discount.name }}</th>
                                <td>{{ discount.value }}{{ discount.isPercentage ? '%' : 'eur' }}</td>
                                <td>{{ discount.amountAvailable }}</td>
                                <td>{{ discount.validFrom | date: 'dd/MM/yyyy' }} - {{ discount.validTo |
                                    date: 'dd/MM/yyyy' }}</td>
                            </tr>
                        </tbody>
                        }
                    }
                    @else {
                        <tr class="border-b">
                            <td>No discounts created yet.</td>
                        </tr>
                    }       
                } 
            </table>
        </div>
    </div>
</div>

@if(isModalOpen){
    <div class="fixed inset-0 z-50 flex items-center justify-center overflow-y-auto overflow-x-hidden bg-black bg-opacity-50">
      <div class="relative w-full max-w-2xl max-h-full p-4">
        <div class="relative bg-white rounded-lg shadow">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
}