<div class="mx-auto px-4 lg:px-12 m-4">
    <div class="bg-white relative shadow-md sm:rounded-lg overflow-hidden">
        <div class="overflow-x-auto">
            <table class="w-full text-sm text-left text-gray-500">
                <thead class="text-xs text-gray-700 uppercase bg-gray-50">
                    <tr>
                        <th scope="col" class="px-4 py-3">Status</th>
                        <th scope="col" class="px-4 py-3">Items Count</th>
                        <th scope="col" class="px-4 py-3">Reservation</th>
                        <th scope="col" class="px-4 py-3">Customer</th>
                        <th scope="col" class="px-4 py-3">Total</th>
                        <!-- <th scope="col" class="px-4 py-3">
                            <span class="sr-only">Actions</span>
                        </th> -->
                    </tr>
                </thead>
                @if (orders$ | async; as order) {
                    @for(order of orders$ | async ; track order.id) 
                    {
                    <tbody>
                        <tr class="border-b cursor-pointer hover:bg-gray-100" 
                        (click)="goToOrderDetails(order.id)">
                            <th scope="row" class="px-4 py-3 font-medium text-gray-900 whitespace-nowrap">
                                {{ order.status }}</th>
                            <td class="px-4 py-3">{{ order.orderItems.length }}</td>
                            <td class="px-4 py-3">{{ order.reservation?.service?.name ?? '-' }}</td>
                            <td class="px-4 py-3">{{ order.customer.email }}</td>
                            <td class="px-4 py-3">{{ order.finalAmount }}</td>
                        </tr>
                    </tbody>
                    }
                } @else {
                    <tr class="border-b">
                        <td class="px-4 py-3">No orders created yet.</td>
                    </tr>
                }
            </table>
        </div>
    </div>
</div>


 @if(isModalOpen){
<div class="fixed inset-0 z-50 flex items-center justify-center overflow-y-auto overflow-x-hidden bg-black bg-opacity-50">
  <div class="relative w-full max-w-5xl max-h-full p-4">
    <div class="relative bg-white rounded-lg shadow">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
}